<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.martsforever.owa.timekeeper">

    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".leanCloud.TimeKeeperApplication"
        android:allowBackup="true"
        android:icon="@drawable/timekeeper_logo_blue"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".main.MainActivity" />
        <activity android:name=".launch.LogoActivity" />
        <activity android:name=".launch.LaunchActivity" />
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".register.EmailRegisterActivity" />
        <activity android:name=".register.MobileRegisterActivity" />
        <activity android:name=".register.SelectRegisterActivity" />
        <activity android:name=".register.RetrivePasswordActivity" />
        <activity android:name=".main.friend.AddFriendsActivity" />
        <activity android:name=".main.friend.AddFriendDetailActivity" />

        <!-- leancloud push start -->
        <service android:name="com.avos.avoscloud.PushService" />

        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <!-- leancloud push end -->

        <activity android:name=".main.message.MessageActivity" />
        <activity android:name=".main.message.FriendsInviteMessageDetailActivity" />
        <activity android:name=".main.message.SystemMessageDetailActivity" />
        <activity android:name=".main.friend.FriendDetailActivity" />
        <activity android:name=".main.self.PersonInfoActivity" />
        <activity
            android:name=".main.self.SecurityActivity"
            android:label="@string/title_activity_security"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".main.self.JurisdictionActivity" />
        <activity android:name=".main.todo.AllTodosActivity" />
        <activity android:name=".main.todo.AddTodosActivity" />
        <activity android:name=".main.todo.TodoDetailActivity" />
        <activity android:name=".main.message.TodoInvitationMessageDetailActivity" />
        <activity android:name=".main.message.ViewTodoActivity"></activity>
    </application>

</manifest>